.button {
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-insets: 5;
    -fx-background-radius: 10;
    -fx-padding: 18;
    -fx-font-size: 16px;
}
